/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: rgb(149, 170, 197); /* Black */
    overflow-x: hidden; 
    margin-top: 200px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(22, 53, 93);
    display: block;
}

.sidenav a:hover {
    color: #fceb00;
}


.main {
    margin-left: 160px; 
    padding: 0px 10px;
}
img{
    height: 150px;
    width: 200px;
}
body{
    background-color:rgb(149, 170, 197); ;
}
.center_main{
    padding-left: 200px;
    padding-right: 800px;
    background-color: white;
    height: 690px;
    width: 905px;
    font-size: 20pt;
}
.navigate{
    background-color:rgb(153, 153, 153);
}
.line{
    background-color: orange;
    height: 20px;
}

.text1{
    color: white;
    font-size: 40px;
    margin-left: 10px;
}
.text2{
    color: white;
    font-size: 20px;
    margin-left: 30px;
}
.ride_menu{
    width:200px;
    height: 30px;
    text-align: right;
    margin-left: 88.9%;
    background-color:rgb(124, 124, 124);
    padding-right: 10px;
    border-radius: 100px 0 0 0;
    
}
.ride_menu a{
    color: white;
}
.ride_menu a:hover{
    color: #fceb00;
}
.bottom_text{
    text-align: center;
}
.main_text{
    margin-left: 10%;
}
.main_text:hover{
    color: #fceb00;
}
th{
    background-color: aquamarine;
    text-align: center;
}
.table_s{
    background-color: aquamarine;
}